
.mans-cloth{
    margin-top: 5%;
    margin-bottom: 5%;
}
.mans-cloth h1{
    font-weight: bolder;
}
.cloth-sec{
    border-style: ridge;
}
.cloth-sec .description .heading-1{
    font-weight: bolder;
    color: black;
    margin-top: 10%;
    margin-bottom: 4%;
}
.cloth-sec .button-sec .button-1{
    margin-top: 70%;
}
.cloth-sec .image-sec .image-1{
    width: 1000px;
    margin-top: 7%;
}