.skillsec{
    margin-top: 10%;
}
.skillsec .headsec h6{
    text-align: center;
    color: darkolivegreen;
    font-weight: bold;
}
.skillsec .headsec h2{
    text-align: center;
    font-weight: bold;
}
.cardsection{
    margin-top: 5%;
}
.cardsection .column1{
    box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12)
}
.cardsection .column1 h5{
    color: darkolivegreen;
    font-weight: bold;
}
.cardsection .column1 img{
    margin-left: 42%;
}