/* navigation section --start */
.navbar{
    background-color: white;
}
.navbar a:hover{
    color: #b1b493;
    text-decoration: underline;
    text-decoration-color: black;
}
.sitename{
    color: black;
    font-weight: bolder;
    font-size: x-large;
}
.navsection a{
    font-weight: bolder;
    font-size: large;
    color: black;
}
/* navigation section --end */

/* frontview section --start */

.frontview .imagecolumn img{
    width: 100%;
}
.frontview .column1{
    margin-top: 10%;
    margin-left: 10%;
}
.frontview .column1 h6{
    color: darkolivegreen;
    font-weight: bold;
}
.frontview .column1 h1{
    font-weight: 900;
    font-size: 50px;
}
.frontview .buttonsec{
    margin-top: 2%;
}
.frontview .button1{
    background-color: darkolivegreen;
    color: white;
    font-weight: bold;
    padding: 1% 3% 1% 3%;
}
.frontview .button2{
    color: darkolivegreen;
    padding: 1% 3% 1% 3%;
    font-weight: bold;
}
.frontview .button2:hover{
    background-color: darkolivegreen;
    color: white;
}

/* frontview section --end */

/* about section --start */

.aboutsec{
    margin-top: 10%;
}
.aboutsec .imagecolumn img{
    width: 100%;
}
.aboutsec .descpcolumn{
    margin-top: 8%;
}
.aboutsec .descpcolumn h6{
    color: darkolivegreen;
}
.aboutsec .descpcolumn h2{
    font-weight: bold;
}
.aboutsec .descpcolumn p{
    margin-top: 4%;
    font-weight: bold;
    color: #999999;
}
.biosec{
    font-weight: bold;
    font-size: large;
    line-height: 50px;
}
.biosec .details{
    color: darkolivegreen;
}

/* about section --end */

/* skill section --start */

.skillsec{
    margin-top: 10%;
}
.skillsec .headsec h6{
    text-align: center;
    color: darkolivegreen;
    font-weight: bold;
}
.skillsec .headsec h2{
    text-align: center;
    font-weight: bold;
}
.cardsection{
    margin-top: 5%;
}
.cardsection .column1{
    box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12)
}
.cardsection .column1 h5{
    color: darkolivegreen;
    font-weight: bold;
}
.cardsection .column1 img{
    margin-left: 42%;
}

/* skill section --end */

/* project section --start */

.projectsec{
    background-color: #b1b493;
    margin-top: 10%;
}
.manimage img{
    width: 50%;
}
.projectsec .column1{
    margin-left: 15%;
}
.projectsec .column1 h1{
    color: white;
    margin-top: 3%;
    margin-bottom: 3%;
}
.projectsec .column1 h6{
    color: white;
    font-size: large;
}
.projectsec .column1 button{
    padding: 1% 4% 1% 4%;
    color: darkolivegreen;
    font-weight: bold;
    margin-top: 2%;
    margin-bottom: 2%;
}

/* project section --end */

/* my project section --start */

.newsec .column1 h2{
   font-weight: bold;
   text-align: center;
   margin-top: 5%;
   margin-bottom: 2%;
}
.newsec .column1 h6{
    text-align: center;
}
.lapimage{
    margin-top: 5%;
}
.lapimage img{
    width: 100%;
    border-radius: 3%;
}
.lapimage h3{
    text-align: center;
    margin-top: 4%;
    font-weight: bold;
}
.lapimage .image1:hover{
    background-image: linear-gradient(rgb(24, 24, 17));
}

/* my project section --end */

/* contact section --start */

.contactsec .column1{
    margin-top: 6%;
    margin-bottom: 3%;
}
.contactsec .column1 h2{
    font-weight: bold;
}
.formsec .column1 button{
    margin-top: 4%;
    margin-bottom: 2%;
    padding: 2% 5% 2% 5%;
    color: white;
    background-color: #b1b493;
}
.formsec .column2{
    margin-top: 10%;
}
.formsec .column2 img{
    background-color: #b1b493;
    width: 8%;
    border-radius: 100%;
}
.formsec .column2 span{
    font-size: large;
    font-weight: bold;
}
.formsec .column2 li{
    margin-top: 4%;
    margin-bottom: 4%;
}

/* contact section --end */