.header .column-1 img{
    color: black;
}
.header .column-2 img{
    color: black;
    width: 20%;
}
/* .header .column-3 .imgage-1{
    color: black;
    width: 100%;
} */

.first-sec{
    width: 80%;
    border-color: black;
    
}