.header .column-1 img{
    color: black;
}
.header .column-2 img{
    color: black;
    width: 20%;
}
/* .header .column-3 .imgage-1{
    color: black;
    width: 100%;
} */

.first-sec{
    width: 80%;
    border-color: black;
    
}

.first-sec{
    border-color: black;
    border-style: solid;
}
.inner-sec .column-2 .para-1{
    font-size: 6em;
}
.inner-sec .column-3 .image-2{
    width: 100%;
}


.category-sec{
    background-color: #143a51;
}
.category-sec li a{
    color: white;
}
.category-sec li a:hover{
    color: red;
}
.category-sec .head{
    color: white;
    font-size: large;
    font-weight: bolder;
}

.demo-sec .column-1{
    border-style: solid;
    border-color: rgb(64, 61, 61);
}
.demo-sec .column-2{
    border-style: solid;
    border-color: rgb(64, 61, 61);
}
.demo-sec .column-3{
    border-style: solid;
    border-color: rgb(64, 61, 61);
}

.demo-sec .column-1 .head{
    font-weight: bold;
}
/* .demo-sec .column-1 .image{
    
} */