.mainrow{
    background: -webkit-linear-gradient(117deg, rgb(96, 87, 246), rgb(216, 71, 99));
    background: linear-gradient(117deg, rgb(96, 87, 246), rgb(216, 71, 99));
    background: -webkit-radial-gradient(rgb(194, 74, 126), rgb(105, 86, 235));
    background: radial-gradient(rgb(194, 74, 126), rgb(105, 86, 235));
    padding-bottom: 5%;
}
.navigation-sec .nav1 a{
    color: white;
}
.navigation-sec .nav1 a:hover{
    color: blue;
}
.hero-sec{
    padding-bottom: 7%;
}
.hero-sec .descrptn .heading{
    color: white;
    font-weight: bolder;
    margin-top: 14%;
}
.hero-sec .descrptn .paragraph{
    color: white;
    font-size: 20px;
}
.hero-sec .heroleft-sec .image-1{
    margin-top: 5%;
    /* margin-right: 10%; */
    width: 90%;
    border: solid;
    border-radius: 5%;
    border-color: white;
    border-width: .5cm;
    transform: rotate(-10deg);

}

/* feature section --start */

.feature-sec{
    background-color: black
}
.contentsec{
    padding-bottom: 5%;
}
.contentsec .headsec .heading{
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: lighter;
    margin-top: 3%;
    margin-bottom: 5%;
}
.iconrow .feature-icon img{
    background-color: white;
    padding: 10px;
    border-radius: 50%;
    margin-left: 35%;
    
}
.iconrow .feature-icon h6{
    color: white;
}
.iconrow .feature-icon p{
    color: white;
}
/* feature section --end */

/* <!-- logo section --start --> */

.topsec .topsec-column{
    background-color: whitesmoke;
    /* width: 100%; */
}
.topsec .topsec-column img{
    padding-top: 1%;
    padding-bottom: 1%;
    margin-left: 30%;
    width: 40%;
}
.logosec-main{
    padding-bottom: 100px;
    background-color: white;
}
.logosec-column .bottomsec{
    justify-content: center;
}
.bottomsec .bottomsec-column .image-1{
    width: 100%;
}
.bottomsec .bottomsec-left{
    padding-left: 100px;
}
.bottomsec .bottomsec-left h6{
    padding-top: 5%;
    line-height: 30px;
    font-weight: 300;
    font-size: 16px;
}
.bottomsec .bottomsec-left h3{
    font-weight: 300;
    font-size: 35px;
}

/* logo section--end */

/* <!-- pricing section --start --> */

.pricesec-main{
    background-color: whitesmoke;
    padding-bottom: 7%;
    
}

.cardsec .cardcolumn2{
    box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12)
  
    
}

.pricesec-main .pricesec-column .heading{
    margin-top: 5%;
    font-weight: 200;
    font-size: 35px;
}

.pricesec-main .pricesec-column .paragraph{
    font-weight: 300;
    font-size: 20px;
    margin-top: 1%;
    margin-bottom: 4%;
}

.cardsec .cardcolumn1 h5{
    font-weight: 200;
    font-size: 20px;
}
.cardsec .cardcolumn2 h5{
    font-weight: 200;
    font-size: 20px;
}
.cardsec .cardcolumn3 h5{
    font-weight: 200;
    font-size: 20px;
}
.cardsec .cardcolumn1 h1{
    text-align: center;
    font-weight: bolder;
    font-size: 50px;
}
.cardsec .cardcolumn2 h1{
    text-align: center;
    font-weight: bolder;
    font-size: 50px;
}
.cardsec .cardcolumn3 h1{
    text-align: center;
    font-weight: bolder;
    font-size: 50px;
}
.cardsec .cardcolumn1 h6{
    text-align: center;
    margin-bottom: 12%;
} 
.cardsec .cardcolumn2 h6{
    text-align: center;
    margin-bottom: 12%;
} 
.cardsec .cardcolumn3 h6{
    text-align: center;
    margin-bottom: 12%;
} 
.cardsec .cardcolumn1 ul{
    text-align: center;
    line-height: 25px;
    font-weight: 320;
    font-size: 15px;
    list-style-type: none;
}

.cardsec .cardcolumn1 li:before{
    content: '\2713';
    display: inline-block;
    color: red;
    padding: 0 6px 0 0;
}
.cardsec .cardcolumn2 li:before{
    content: '\2713';
    display: inline-block;
    color: red;
    padding: 0 6px 0 0;
}
.cardsec .cardcolumn3 li:before{
    content: '\2713';
    display: inline-block;
    color: red;
    padding: 0 6px 0 0;
}


.cardsec .cardcolumn2 ul{
    text-align: center;
    line-height: 25px;
    font-weight: 320;
    font-size: 15px;
    list-style-type: none;
}
.cardsec .cardcolumn3 ul{
    text-align: center;
    line-height: 25px;
    font-weight: 320;
    font-size: 15px;
    list-style-type: none;
}
.cardsec .cardcolumn1 .button1{
   margin-top: 90px;
   margin-bottom: 17%;
   margin-left: 38%;
}
.cardsec .cardcolumn2 .button2{
    margin-top: 70px;
    margin-bottom: 17%;
    margin-left: 35%;
 }
 .cardsec .cardcolumn3 .button3{
    margin-top: 50px;
    margin-bottom: 17%;
    margin-left: 38%;
 }

/* <!-- pricing section --end --> */

/* team section --start */

.teamsec{
    padding-bottom: 120px;
    background-color: white;
}
.teamheader .headercolumn .heading{
    padding-top: 80px;
    padding-bottom: 80px;
    font-weight: 300;
    font-size: 30px;
}
.teamsec-bottom .bottomcolumn img{
    width: 50%;
    margin-left: 22%;
}
.teamsec-bottom .bottomcolumn h5{
    font-weight: 300;
    font-size: 20px;
}
.teamsec-bottom .bottomcolumn .paragraph{
    line-height: 30px;
    font-weight: 300;
    font-size: 14px;
}

/* team section --end */

/* bottom section start */

.bottomsection{
    background-color: #0ABCEB;
}
.despsec .despcolumn h3{
    color: white;
    font-weight: bold;
}
.despsec .despcolumn p{
    color: white;
    font-weight: 300;
    font-size: 17px;
}

/* bottom section end */

