.mainrow{
    background: -webkit-linear-gradient(117deg, rgb(96, 87, 246), rgb(216, 71, 99));
    background: linear-gradient(117deg, rgb(96, 87, 246), rgb(216, 71, 99));
    background: -webkit-radial-gradient(rgb(194, 74, 126), rgb(105, 86, 235));
    background: radial-gradient(rgb(194, 74, 126), rgb(105, 86, 235));
    padding-bottom: 5%;
}
.navigation-sec .nav1 a{
    color: white;
}
.navigation-sec .nav1 a:hover{
    color: blue;
}
.hero-sec .descrptn .heading{
    color: white;
    font-weight: bolder;
    /* margin-top: 10%; */
}
.hero-sec .descrptn .paragraph{
    color: white;
    font-size: 20px;
}
.hero-sec .heroleft-sec .image-1{
    width: 100%;
    border: solid;
    border-radius: 5%;
    border-color: white;
    border-width: .5cm;

}

/* feature section --start */

.feature-sec{
    background-color: black
}
.contentsec{
    padding-bottom: 5%;
}
.contentsec .headsec .heading{
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: lighter;
    margin-top: 3%;
    margin-bottom: 5%;
}
.iconrow .feature-icon img{
    background-color: white;
    padding: 10px;
    border-radius: 50%;
    
}
.iconrow .feature-icon h6{
    color: white;
}
.iconrow .feature-icon p{
    color: white;
}
/* feature section --end */

/* <!-- logo section --start --> */

.topsec .topsec-column{
    background-color: whitesmoke;
    width: 100%;
}
.topsec .topsec-column img{
    padding-top: 1%;
    padding-bottom: 1%;
}
.logosec-main{
    padding-bottom: 100px;
    background-color: white;
}
.bottomsec .bottomsec-column .image-1{
    width: 100%;
}
.bottomsec .bottomsec-left{
    padding-left: 100px;
}
.bottomsec .bottomsec-left p{
    padding-top: 5%;
    line-height: 30px;
    font-weight: 300;
    font-size: 15px;
    /* color: whitesmoke; */
    /* text-align: left; */
}
.bottomsec .bottomsec-left h3{
    font-weight: 300;
    font-size: 30px;
}

/* logo section--end */

/* <!-- pricing section --start --> */

.pricesec-main{
    background-color: whitesmoke;
}

/* <!-- pricing section --end --> */

/* pricing section --start */

.teamsec{
    padding-bottom: 120px;
    background-color: white;
}
.teamheader .headercolumn .heading{
    padding-top: 80px;
    padding-bottom: 80px;
    font-weight: 300;
    font-size: 30px;
}
.teamsec-bottom .bottomcolumn img{
    width: 50%;
    justify-content: center;
}
.teamsec-bottom .bottomcolumn h5{
    font-weight: 300;
    font-size: 20px;
}
.teamsec-bottom .bottomcolumn .paragraph{
    line-height: 30px;
    font-weight: 300;
    font-size: 14px;
}

/* pricing section --end */

/* bottom section start */

.bottomsection{
    background-color: #0ABCEB;
}

