/* navigation section --start */

.mainsec .heading h4{
    font-weight: 700;
    font-size: 2em;
}
.frontsec .navigationsec{
    background-color: #f9ece6;
}
.navigationsec ul a{
    color: #514f4f;
    font-weight: 600;
    font-size: medium;
}
/* navigation section --end */

/* frontview section --start */

.viewsec{
    background-color: #f89cab;
}
.viewsec .despsec{
    margin-top: 10%;
}
.viewsec .despsec h1{
    color: white;
    font-size: 60px;
    font-weight: bolder;
}
.viewsec .despsec p{
    color: white;
    font-size: 18px;
}
.viewsec .imagesec{
    margin-top: 4%;
    margin-bottom: 5%;
    margin-left: 12%;
}
/* frontview section --end */

 /* product section --start  */

 .producthead .column1 h2{
    font-weight: bolder;
    margin-top: 5%;
    margin-bottom: 5%;
 }
 .prdimg .imagesec .column1{
    background-color: whitesmoke;
 }
 .imagesec .column1 img{
    width: 40%;
 }
 .imagesec .column1 span{
    background-color: white;
 }
 /* product section --end  */


 /* saving section start */

 .savingsec{
    background-color: #7fd7eb;
    margin-top: 5%;
    margin-bottom: 5%;
 }
 .savingsec .savimage img{
    width: 100%;
    margin-top: 7%;
 }
 .savingsec .descpsec h2{
    color: white;
    font-weight: bolder;
    margin-top: 30%;
    margin-bottom: 2%;
 }
 .savingsec .descpsec p{
    color: white;
    font-size: 16px;
    font-weight: bold;
 }
 .savingsec .buttonsec{
    margin-top: 5%;
 }
 /* .savingsec .buttonsec:hover{
    color: #7fd7eb;
 } */
 .savingsec .buttonsec .btn-info{
    padding: 1% 5% 1% 5%;
    color: white;
 }
 .savingsec .buttonsec .btn-light{
    padding: 1% 5% 1% 5%;
    color: black;
 }

 /* saving section end */